<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>三列等高布局</title>
<link rel="stylesheet" tyole="text/css" href="style/reset.css">
<style type="text/css">
.container{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.left, .center, .right{
	margin-bottom: -10000px;
	padding-bottom: 10000px;
}
.left{
	width:250px;
	float: left;
	background-color: #789;
}
.center{
	width:500px;
	float: left;
	background-color: #6cf;
}
.right{
	width: 250px;
	float: right;
	background-color: #d34;
}
</style>
</head>
<body>
    <div class="container">
    	<div class="left">
    		<p>left</p>
	        <p>left</p>
	        <p>left</p>
	        <p>left</p>
	        <p>left</p>
    	</div>
    	<div class="center">
    		<p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
	        <p>center</p>
    	</div>
    	<div class="right">
    		<p>right</p>
	        <p>right</p>
	        <p>right</p>
    	</div>
    </div>
</body>
</html>